.App {
  font-family: sans-serif;
  text-align: center;
}

.progress-container {
  position: relative;
  max-width: 20rem;
  border: 1px solid grey;
  margin: auto;
  height: 1.2rem;
  border-radius: 8px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.progress-label {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  font-weight: bold;
  pointer-events: none;
}

.toggleButton {
  margin: 1rem;
}
